@CHARSET "UTF-8";

.datalist {
	max-width: 1600px;
}

.datalist li {
	border-bottom: 1px dashed #aaa;
	color: #333;
}

.datalist li div, .pager1 *, .pager2 * {
	display: inline-block;
	vertical-align: middle;
}

.datalist li div {
	height: 3em;
	line-height: 3em;
	text-align: center;
}

.datalist li div * {
}


.datalist li:first-child {
	background: #eee;
	border: none;
}

.datalist li:first-child div {
	font-weight: bold;
}

