@CHARSET "UTF-8";

.ui-basic-info {
	position: absolute;
	top: 50px;
	height: 150px;
	left: 201px;
	right: 0px;
	border-bottom: 1px solid #ccc;
	background: #eee;
}

.ui-main {
	top: 201px;
}

table {
	font-size:16px;
	font-weight:bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	margin-left:25px;
}

table tr {
	height:45px;
}

table td {
	width:300;
}